services:
  backend:
    command: ["uvicorn", "main:app", "--reload", "--host", "0.0.0.0"]
    # ports:
    #   - "8080:8000"
    volumes:
      - ${PROJECT_ROOT}/:/app
    environment:
      - DEBUG=True
    # profiles:
    #   - disabled

  minio:
    ports:
      - "9000:9000"
    # volumes:
    #   - ${PROJECT_ROOT}/data/minio_data:/minio_data
      
  database:
    ports:
      - "5432:5432"

  redis:
    ports:
      - "6379:6379"