services:
  nginx:
    ports:
      - "80:80"
      # - "8000:8000"
    # volumes:
    #   - ./.backend_data:/backend_data
    profiles:
      - disabled

  backend:
    command: ["uvicorn", "main:app", "--reload", "--host", "0.0.0.0"]
    ports:
      - "8080:8000"
    environment:
      - DEBUG=True
    profiles:
      - disabled

  frontend:
  #   ports:
  #     - "81:80"
    profiles:
      - disabled

  # disable cloudflare for dev environment
  cloudflare_tunnel:
    profiles:
      - disabled

  standalone:
    ports:
      - "19530:19530"


  attu:
    ports:
      - 3000:3000

  minio:
    ports:
      - "9000:9000"
    volumes:
      - ${PROJECT_ROOT}/data/minio_data:/minio_data
      
  database:
    ports:
      - "5432:5432"

  redis:
    ports:
      - "6379:6379"