{% extends 'main/base.html' %}
{% block title %}Add New Test Suite{% endblock %}

{% load static %}

{% block content %}
<h1>Add New Test Suite</h1>
<form method="post">
    {% csrf_token %}
    <div class="mb-3">
        <label for="test_suite_name" class="form-label">Test Suite Name</label>
        <input type="text" class="form-control" id="test_suite_name" name="test_suite_name" required>
    </div>
    <div class="mb-3">
        <label for="description" class="form-label">Description</label>
        <textarea class="form-control" id="description" name="description" required></textarea>
    </div>
    <button type="submit" class="btn btn-primary">Create Test Suite</button>
    <a href="{% url 'project_detail_by_uuid' project_uuid=project.uuid %}" class="btn btn-secondary">Cancel</a>
</form>
{% endblock %}