{% load static %}

<nav class="navbar navbar-expand-lg navbar-light bg-light fixed-top">
    <a class="navbar-brand ms-3" href="{% url 'home' %}">Home</a>

    <div class="collapse navbar-collapse">
        {% if user.is_authenticated%}
        <ul class="navbar-nav mr-auto mb-2 mb-lg-0">
            <li class="nav-item">
                <a class="nav-link" href="{% url 'project_list' %}">My Projects</a>
            </li>
        </ul>
        {% else %}
        <ul class="navbar-nav mr-auto">
            <li class="nav-item">
                <a class="nav-link" href="{% url 'login' %}">Login</a>
            </li>
            <li class="nav-item">
                <a class="nav-link" href="{% url 'register' %}">Register</a>
            </li>
        </ul>
        {% endif %}
        <div class="navbar-text ms-auto me-3">
            {% if user.is_authenticated %}
                {% if request.user.is_superuser %}
                    Welcome {{ user.username }} (Admin)
                {% else %}
                    Welcome {{ user.username }}
                {% endif %}
            {% else %}
                Welcome Guest
            {% endif %}
        
        </div>
        <ul class="navbar-nav ml-auto mb-2 mb-lg-0 pe-3">
            {% if user.is_authenticated %}
            <li class="nav-item">
                <a class="nav-link" href="{% url 'logout' %}">
                    <span class="text-danger">Logout</span>
                </a>
            </li>
            {% endif %}
        </ul>
    </div>
</nav>