{% extends 'main/base.html' %}

{% block title %}Add New Project{% endblock %}

{% load static %}

{% block content %}
<h1>Add New Project</h1>
<form method="post">
    {% csrf_token %}
    <div class="mb-3">
        <label for="project_name" class="form-label">Project Name</label>
        <input type="text" class="form-control" id="project_name" name="project_name" required>
    </div>
    <div class="mb-3">
        <label for="description" class="form-label">Description</label>
        <textarea class="form-control" id="description" name="description" required></textarea>
    </div>
    <button type="submit" class="btn btn-primary">Create Project</button>
    <a href="{% url 'project_list' %}" class="btn btn-secondary">Cancel</a>

</form>
{% endblock %}